@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #CE8B69;
    --secondary-color: #534A49;
}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: #FFF8F8;
    font-family: 'Poppins';
}

.container {
    width: 1080px;
    margin: 0 auto;
    height: auto;
}

.navbar {
    background-color: #FFF8F8;
    padding: 1em;
    //display: flex;

    .logo {
        color: #534A49;

        span {
            color: #CE8B69;

            &:hover {
                font-weight: bold;
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        margin: 0 auto;
    }

    nav {
        align-items: center;
        height: auto;
        margin-top: 15px; 
    }

    ul {
        list-style-type: none;
        display: flex;
        
        li a {
            padding: 0 1em;
            color: #534A49 ;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.hero  {
    height: auto;
    position: relative;

    .big-image {
        width: 100%;
        height: 70vh;
        object-fit: cover;
        background-color: black;
        
        &:hover {
            transform: scale(1.5);
        }
    } 
    .image-overlay {
        position: absolute;
        top: 0;
        background-color: black;
        opacity: 0;
        color: white;
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 1s;

        &:hover {
            opacity: 50%;
        }
    }
    
    .image-overlay h1 {
        font-size: 50px;
        letter-spacing: 3px;
    }
}

.members-section {
    //temporary-height 1000px
    display: flex;

    .container h1 {
        text-align: center;
        padding: 20px 0;
        font-size: 3em;
        hr {
            text-align: center;
            margin: 0 auto;
        }
    }

    .container .members {
        //margin-top: 50px;
        //width: 159px;
        display: flex;
        flex-wrap: wrap;
        padding: 40px calc((100% - (255px * 4)) / 2);
        justify-content: center;
    }

    .container .members li {
        text-align: center;
        //margin: 5px 10px;
        background-color: var(--secondary-color);
        color: rgb(230, 230, 230);
        padding: 15px;
        //height: 100px;
        flex: 0 0 215px;
        margin: 3em 20px;
    }
    
    .container .members li img {
        width: 8em;
        height: 8em;
        object-fit: cover;
        border: 5px solid #534A49;
        border-radius: 50%;
        margin-top: -65px;
    }

}

.footer {
    background-color: var(--secondary-color);
    height: 70px;

    .container {

        h1 {
            text-align: center;
            color: white;
            padding-top: 20px;
            font-size: 1.3em;
        }
    }
}